$white-100 : #ffffff;
$white-200 : #f5f5f5;
$white-300 : #e5e5e5;
$gray-100  : #cccccc;
$gray-200  : #b2b2b2;
$gray-300  : #777777;
$black-100 : #000000;
$black-200 : #333333;
$red-100   : #ED594D;
$brown-100 : #4D2E1F;