
body:not(.fp-viewing-slide1){
    .logo a i{
        background: url("../images/main/logo-w.svg") center no-repeat;
        background-size: contain;
    }
    .gnb{
        visibility: hidden;
    }
    .gnb_sub{
        .search{
            i{
                background: url("../images/icon/search-w.svg") center no-repeat;
                background-size: 100%;
            }
        } 
        .global{
            &::after{
                background-color: $white-100;
            }
            a{
                color: $white-100;
            }
        }
        .hambuger-btn span{
            background-color: $white-100;
        }
    }
}
body.fp-viewing-slide1,
body.default{
    .logo a i{
        background: url("../images/main/logo.svg") center no-repeat;
        background-size: contain;
    }
    .gnb{
        visibility: hidden;
    }
    .gnb_sub{
        .search{
            i{
                background: url("../images/icon/search.svg") center no-repeat;
                background-size: 100%;
            }
        } 
        .global{
            &::after{
                background-color: $black-100;
            }
            a{
                color: $black-100;
            }
        }
        .hambuger-btn span{
            background-color: $black-100;
        }
    }
    header.white{
        background-color: #fff;
        padding: 10px 20px 10px 20px;
        box-shadow: 0px 3px 80px 15px rgba($color: #000000, $alpha: 0.1);

        .logo a i{
            background: url("../images/main/logo.svg") center no-repeat;
            background-size: contain;
        }
        .gnb{
            visibility: hidden;
        }
        .gnb_sub{
            .search{
                i{
                    background: url("../images/icon/search.svg") center no-repeat;
                    background-size: 100%;
                }
            } 
            .global{
                &::after{
                    background-color: $black-100;
                }
                a{
                    color: $black-100;
                }
            }
            .hambuger-btn span{
                background-color: $black-100;
            }
        }
    }
}
body.menu-white header{
    background-color: transparent;
    .logo{
        opacity: 0;
        visibility: hidden;
    }
    .gnb{
        visibility: hidden;
    }
    .gnb_sub{
        .search{
            opacity: 1;
            visibility: visible;
            i{
                background: url("../images/icon/search-w.svg") center no-repeat;
                background-size: 100%;
            }
        } 
        .global{
            opacity: 1;
            visibility: visible;
            &::after{
                background-color: $white-100;
            }
            a{
                color: $white-100;
            }
        }
        .hambuger-btn span{
            background-color: $white-100;
        }
    }
    &.white{
        box-shadow: none;
        padding: 20px 20px 0 20px;
        background-color: transparent;

        .gnb_sub{
            .search{
                opacity: 1;
                visibility: visible;
                i{
                    background: url("../images/icon/search-w.svg") center no-repeat;
                    background-size: 100%;
                }
            } 
            .global{
                opacity: 1;
                visibility: visible;
                &::after{
                    background-color: $white-100;
                }
                a{
                    color: $white-100;
                }
            }
            .hambuger-btn span{
                background-color: $white-100;
            }
        }        
    }
    
    &.header-white{
        background-color: transparent;
        padding: 20px 20px 0 20px;
        .gnb_sub li .hambuger-btn span{
            background-color: $white-100;
        }
    }
}
body.white header{
    .logo a i{
        background: url("../images/main/logo-w.svg") center no-repeat;
        background-size: contain;
    }
    .gnb{
        visibility: hidden;
    }
    .gnb_sub{
        .search{
            i{
                background: url("../images/icon/search-w.svg") center no-repeat;
                background-size: 100%;
            }
        } 
        .global{
            &::after{
                background-color: $white-100;
            }
            a{
                color: $white-100;
            }
        }
        .hambuger-btn span{
            background-color: $white-100;
        }
    }
}
header{
    width: 100%;
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    &.header-white{
        .logo a i{
            background: url("../images/main/logo-w.svg") center no-repeat;
            background-size: contain;
        }
        .hambuger-btn span{
            background-color: $white-100;
        }
        &.black{
            background-color: $white-100;
            box-shadow: 0px 3px 80px 15px rgba($color: #000000, $alpha: 0.1);
            padding: 10px 20px 10px 20px;
            .logo a i{
                background: url("../images/main/logo.svg") center no-repeat;
                background-size: contain;
            }
            .gnb_sub .hambuger-btn span{
                background-color: $black-100;
            }
        }
    }
    .logo{
        width: 163.8px;
        height: 14px;
        visibility: visible;
        opacity: 1;

        a{
            display: block;
            width: 100%;
            height: 100%;
            i{
                display: block;
                width: 100%;
                height: 100%;
                background: url("../images/main/logo.svg") center no-repeat;
                background-size: contain;
                transition: 0.5s ease;
            }
        }
    }
    .gnb_sub{
        display: flex;

        li{
            margin-left: 30px;
            
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-left: 40px;
            }
        }

        .global{
            position: relative;
            width: 24px;
            height: 22px;
            visibility: hidden;
            opacity: 0;
            transition: 0.5s ease;
            margin-left: 20px;

            &::after{
                content: "";
                position: absolute;
                bottom: 2px;
                display: block;
                width: 100%;
                height: 3px;
                background-color: $black-100;
                transition: 0.5s ease;
            }
            span{
                position: absolute;
                font-size: 12px;
                font-family: "Roboto",sanvvs-serif;
                text-transform: uppercase;
                font-weight: 600;
                text-align: center;
                width: 100%;
                height: 100%;
                display: block;
                transition: 0.5s ease;

                &.active{
                    opacity: 1;
                    z-index: 1;
                }
                &:not(.active){
                    opacity: 0;
                    z-index: -1;
                }
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    transition: 0.5s ease;
                }
            }
            &:hover{
                span{
                    &.active{
                        opacity: 0;
                        z-index: -1;
                    }
                    &:not(.active){
                        opacity: 1;
                        z-index: 1;
                    }
                }
            }
        }
        .search{
            width: 20px;
            height: 20px;
            visibility: hidden;
            opacity: 0;
            transition: 0.5s ease;

            i{
                width: 100%;
                height: 100%;
                display: block;
                background: url("../images/icon/search.svg") center no-repeat;
                background-size: contain;
                transition: 0.5s ease;
            }
        }
        .hambuger-btn{
            width: 24px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;

            span{
                position: absolute;
                display: block;
                height: 3px;
                background-color: $black-100;
                transition: 0.5s ease;

                &:nth-child(1){
                    top: 0;
                    width: 100%;
                }
                &:nth-child(2){
                    top: 50%;
                    transform: translateY(-50%);
                    width: 17px;
                }
                &:nth-child(3){
                    bottom: 0;
                    width: 20px;
                }
            }
            &.open{
                top: 1px;
                span{
                    &:nth-child(1){
                        animation: hambugerOpen1 0.5s ease forwards;
                    }
                    &:nth-child(2){
                        animation: hambugerOpen2 0.5s ease forwards;
                    }
                    &:nth-child(3){
                        animation: hambugerOpen3 0.5s ease forwards;
                    }
                }
            }
            &.close{
                span{
                    &:nth-child(1){
                        animation: hambugerClose1 0.5s ease forwards;
                    }
                    &:nth-child(2){
                        animation: hambugerClose2 0.5s ease forwards;
                    }
                    &:nth-child(3){
                        animation: hambugerClose3 0.5s ease forwards;
                    }
                }
            }
        }
    }
}